<div>
  <center><h3>Todos los productos</h3>
    {{#each products}}
      <li>Title:
        {{this.title}}
        - Code:
        {{this.code}}
        - Id:
        {{this.id}}
      </li>
    {{/each}}

  </center>

</div>